* {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', sans-serif;

}

.navbar {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;

}

.navbar a {

    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-weight: 550;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    
}


.navbar a:hover {
    color: #bd9a6c;
}

.navbar img{
    margin-right: 30%;

}

.header {
    text-align: center;
    background-image: url(images/drew-coffman-1872.jpg);
    background-position: center center;
    background-size: cover;
    color: #f2f2f2;
    height: 130vh;

}

h1 {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 75px;
    margin: 10px;

}

p {

    margin-bottom: 5px;
    font-size: 24px;
    line-height: 50px;

}

.first {
    margin-top: 13%;
}

.second {
    margin: 15px 24% 0px;
}

.btn {
    width: 130px;
    height: 55px;
    border-radius: 7%;
    padding: 20px 25px;
    margin-top: 25px;
    font-weight: 600;
    color: #f2f2f2;
    cursor: pointer;
    font-size: 15px;

}

.btn1 {
    background-color: #8f7655;
    border: none;
    margin-right: .5cm;
}

.btn2 {
    background-color: transparent;
    border-color: #fff;

}

.btn1:hover {
    background-color: white;
    color: black;

}

.btn2:hover {
    background-color: white;
    color: black;


}

.us {
    margin-top: 80px;
    width: 100%;


}

.who {
    display: inline-block;
    margin: 0px 70px;
    width: 35%;

}


.describtion {
    display: inline-block;
    width: 500px;
    margin: 0px 70px;
    color: gray;

}

.describtion h1 {
    color: rgba(0, 0, 0, .8);
    font-size: 35px;
}

.describtion p {
    display: inline-block;
    width: 100%;
    font-size: 17px;
    padding: 10px;
    margin: 10px 0px;
    line-height: 40px;

}

.icon li {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

.icon img {
    border-radius: 50%;

}



.ourlocation {
    background-color: rgba(1, 1, 1, 0.03);
    margin-top: 80px;
}

.content {
    display: inline-block;
    width: 500px;
    margin: 0px 70px;
    color: gray;
    line-height: 15px;

}

.content h1 {
    color: rgba(0, 0, 0, .8);
    margin: 40px;
    font-size: 35px;
}

.content p {
    font-size: 15px;
    padding: 0;
    margin: 0;

}

.photo {
    display: inline-block;
    margin: 80px 70px;

}

.row {
    margin: 70px 70px 50px;
}

.row p {
    text-align: center;
    font-size: 17px;
    color: gray;
}

.row h1 {
    color: rgba(0, 0, 0, .8);
    font-size: 35px;
    text-align: center;
}

.ourcontent {
    margin-left: 50px;
}

.colum {
    display: block;
    width: 400px;
    height: 550px;
    float: left;
    padding: 15px;
    text-align: center;
}

.clear {
    clear: both;
}

.colum h4 {
    color: rgba(0, 0, 0, .8);
    font-size: 22px;
    font-family: "Alegreya";
    font-weight: 400;
    margin: 20px;
}

.colum p {
    text-align: center;
    font-size: 17px;
    color: gray;
}

.page5 {
    background-color: rgba(1, 1, 1, 0.03);
    height: 100vh;
}

.iconp5 li {
    list-style-type: none;
    padding: 10px;

}

.iconp5 img {
    border-radius: 50%;

}

.p5_content {
    display: block;
    width: 550px;
    float: left;
    padding: 60px 0px 60px 60px;
    color: gray;

}

.clear {
    clear: both;
}

.p5_content h1 {
    color: rgba(0, 0, 0, .8);
    font-size: 35px;

}

.p5_content p {
    font-size: 17px;
}

.map {
    display: block;
    float: right;
    margin-top: 100PX;
    margin-right: 60px;
}




.footer{
    background-color: #353330;
    text-align: center;
    color: #969696;
    font-size: 17px;
}

.img img{
    margin-top: 100px;
    margin-right: 27%;
    margin-bottom: 20px;
}

.copy p{font-size: 17px;}

.media img{
    border-radius: 50%;
    padding: 5px;
    margin: 20px 0px;
}